<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="capital, money, investing, returns, managment, PE, yield, stone, tree, connor towler, towler, connor">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/comments.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title> Tree & Stone Capital </title>
</head>

<body>
  <nav id="navmenu"></nav>

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="password" class="form-control" id="name" name="namep">
  </div>
  <div class="form-group">
    <label for="comment">Comments:</label>
    <input type="text" class="form-control" id="comment">
  </div>


  <div>
    <textarea id="outputDB" rows="4" cols="70">
  </textarea>
  </div>

  <div id="picture">

  </div>

  <div class="dropdown">
    <button type="button" id="btn1" onclick="clicker()" class="btn btn-primary">Load Comments</button>
    <button type="button" id="btn2" onclick="submit()" class="btn btn-primary">Submit Comments</button>

    <button type="button" id="btn3" onclick="loadpic()" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Load Pic from DB</button>
    <ul class="dropdown-menu" id="dropmenu">
      <li><a href="#">HTML</a></li>
    </ul>
  </div>


  <div class="container">
    <div class="col-md-6">
      <div class="form-group">
        <label>Upload Image</label>
        <div class="input-group">
          <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                    <input type="file" id="imgInp">
                  </span>
          </span>
          <input type="text" class="form-control" readonly>
        </div>
        <img id="img-upload" />
        <img id="img-download" />
      </div>
    </div>
  </div>




</body>

</html>

<script>
  $(function() {
    $('#navmenu').load("../navbar.html");
  });
</script>
