<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/faceID.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/faceID.js"></script>

  <title>Tree and Stone Capital </title>
</head>
<nav id="navmenu" style="height: 100px"></nav>
<h1> Face ID software Beta </h1>
<div class="row">
  <div class="col-sm-4">
    <p>Not for Government or drone usage</p>
    <p> @CIA </p>
  </div>
  <div class="col-sm-4">
    <p>Unknown Face?</p>
    <p> input the persons name in the form below the picture</p>
  </div>
  <div id="last" class="col-sm-4">
    <p>Neural Net</p>
    <p> based on dlibs 128 face feature ID model. uses a CNN, supervised learning model</p>
  </div>
</div>


<div class="container">
  <div class="col-md-6">
    <div class="form-group">
      <label>Upload Image</label>
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default btn-file">
            <input type="file" id="imgInp">
          </span>
        </span>
        <input type="text" class="form-control" readonly>
      </div>
      <img id="img-upload" />
      <img id="img-download" />
    </div>
  </div>
</div>



</html>

<script>
  $(function() {
    $('#navmenu').load("../navbar.html");
  });
</script>
