<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/IR.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(function() {
      $('#navmenu').load("../navbar.html");
    });
  </script>
  
  <title>Tree and Stone Capital </title>
</head>
<nav id="navmenu" style="height:100px"></nav>
<h1> Pharma Broooooo </h1>
<p style="margin-left: 15px"> Free our dude </p>
<p style="margin-left: 15px"> A really down to earth guy, who can teach you a lot about life, investing, and success</p>

<body>

  <div id="shkreli">
    <h2 class="section-title">Martin Shkreli</h2>
    <iframe width="420px" height="345px" src="https://www.youtube.com/embed/sxnQEQRPbt0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
  </div>

</body>

</html>
