<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="capital, money, investing,connor towler, tree and stone capital">
  <meta name="description" content="Investing">
  <meta name="author" content="connor towler">
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static "client.js" %}"></script>



  <title>Tree & Stone Capital</title>
</head>
<!--updating the master  -->

<body>

  <div id="loader-wrapper">
    <div class="loader" id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>
<!-- {add '%'  and remove add include "navbar.html"  %} -->
<!-- that loads in navbar  -->
  <nav id="navmenu"></nav>


  <section class="bg-img-1" id="home">


    <div class="container1">
      <img class="logo" src="{% static "/media/Abstergo.jpg" %}">
    </div>

  </section>
</body>


<div class="bcg-img-2" id="about">

  <body>
    <section>
      <h1>Pandas and Dolphins </h1>
      <p>Overall just majestic creatures. come shred the gnar with some Dolphins. The Panda has become the symbol of WWF. The well-known panda logo of WWF originated from a panda named Chi Chi that was transferred from the Beijing Zoo to the London Zoo in
        the same year of the establishment of WWF.</p>
    </section>
  </body>
</div>

<div class="bcg-img-25" id="teslavid">

  <body>
    <section>
    </section>
    <!-- <video autoplay muted loop id="myVideo">
 <source src="/media/Model3_vid.mp4" type="video/mp4">
   </video> -->

  </body>
</div>

<div class="bcg-img-4" id="bcg-4">

  <body>
    <section style="min-height: 300px">
      <h1>Investing vs Trading</h1>
      <p>Most people think they are investors. They are not. Trader might not even be an appriopate word. A Trader is one who buys and sells securities and other derivatives on a short term basis in hopes of making a profit. "buying on the dip" is a common
        phrase. However, this is like calling a person who has many one night stands romantic. Ridicolous. An Investor is buying a stock as a way to own a percentage of a company and over time that company will deliver outsized returns in comparison to
        the market. They are in it for the long haul. The art of investing is successfully picking those companies.
      </p>
      <br />
      <p> value investing is the dumbest term. What is the point of investing if not to find value or justify the amonut paid.

      </p>
      <br />
      <p> growth only benefits investors when the business can invest at incremental returns that are enticing. when each dollar used to finance growth creates
        over a dollar in long term value. the value of any stock,bond, business, or derivative is determined by the cash inflows and outflows discounted at
        at an appriopate rate of return that the asset can produce over the rest of its life. bonds are easier to predict because their cash flow is their
        coupon. managment has to be actual retards to suspend bond interest payments.
      </p>
    </section>
  </body>
</div>

<div class="bcg-img-3" id="bcg-3">

  <body>
    <section>
      <h1>Life</h1>
      <p>
        We are shaped by the people we choose to surround ourselves with. its called the 'sphere of infleunce'. These people shape who you become and are argueably,
        life's most important investment. Surround yourself with people who have admirable traits and people who you would like to become. Everyone else is a waste of time.
      </p>
      <h1>Modern Finance Theory</h1>
      <p>
        Prestigeous institutions preach MFT. the stock market is totally efficient and therefore calculations of business value were of no value. in other words, thinking is a complete waste of energy. Ha! what a crock of shit coming out of princeton and havard.
      </p>
    </section>
  </body>
</div>

<div class="bcg-img-5" id="bcg-5">

  <body>
    <section>
      <img id="mobilevid" src="../static/media/teslawhite.jpg" alt="">
      <video autoplay muted loop id="myVideo">
   <source src="../static/media/Model3_vid.mp4" type="video/mp4">
     </video>
      <div id="vidtop-content">
        <div class="vid-info">
          <h1 id="vidtop">Model 3</h1>
          <p> Bold, Sleek, Sexy, Fun </p>
          <p>The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth. Original
            timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. </p>
          <p> Connor Towler</p>
        </div>
      </div>


    </section>
  </body>
</div>


<div class="bcg-img-6" id="bcg-6">

  <body>
    <section>
      <h1>What's life without a little fun HeHe</h1>
      <img id="funnyelon" src="../static/media/bankwrupt.jpg" alt="">
      <img id="funnyelon" src="../static/media/tesladrink.jpg" alt="">

    </section>
  </body>
</div>




</html>
