<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/faceID.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/client.js"></script>
  <title>Tree and Stone Capital </title>
</head>
<nav id="navmenu" style="height:100px"></nav>
<h1> Mango Trees </h1>
<p style="margin-left: 15px"> There is no I only we. Okay Carlee, </p>
<p style="margin-left: 15px"> We commited Securities fraud, the SEC is after us</p>

<body>

  <div class="row">
    <div class="column1">
      <h2 class="section-title">A Vision for the Future</h2>
      <p class="section-description">Don't skate to where the puck has been, but to where the puck is going to be </p>
      <aside class="section-media">
        <figure class="content-media">
          <iframe src="https://player.vimeo.com/video/155718467?color=ff0000&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=155718467" height="100%" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          <figcaption class="media-caption">
            <p>
              <strong>A better drive</strong>
              Cutting edge technology enchances the driving experience
            </p>
          </figcaption>
        </figure>
      </aside>
    </div>
    <div class="column2">
      <ul class="vision-list">
        <li class="vision-item">
          <strong class="feature-title">Media</strong>
          <span class="feature-description">Social Media is a waste of time </span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">Smart Home</strong>
          <span class="feature-description">Personal assistant integrated into your house, like Amazon Alexa</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">Autonomous Driving</strong>
          <span class="feature-description">Safer, Better, More Efficient. This can save lives and your time</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">Space X</strong>
          <span class="feature-description">Making Humans a Multi planetary species</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">AI</strong>
          <span class="feature-description">A Personal assistant. The new way of interfacing with your phone will not be through touch
            but through voice.</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">Electric Jets</strong>
          <span class="feature-description">Quiet, extend range, recharge in the air, faster. The problem is how to convert electricity to thrust.</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">The Energy Race</strong>
          <span class="feature-description">A Race so big it will dwarf the arms race. The cheaper you can produce energy the more profitable and powerful
            you become</span>
        </li>
        <li class="vision-item">
          <strong class="feature-title">Sustainable Energy</strong>
          <span class="feature-description">Transisting our world to a sustainale energy future</span>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>

<script>
  $(function() {
    $('#navmenu').load("../navbar.html");
  });
</script>
