<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/partnerstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/client.js"></script>
  <title> Tree and Stone Capital</title>
</head>

<body>

  <nav id="navmenu"></nav>


  <section class="bcg1" id="img1">
    <h1> Thick Hair </h1>
  </section>

  <section class="bcg2" id="img2">
    <h1> Salty Skin </h1>
  </section>

  <section class="bcg3" id="img3">
    <h1> Sunbaked </h1>
  </section>



</body>

</html>
