#navmenu{
  height: 100px;
}


#img-upload, #img-download{
width: 100%;
  max-width: 400px;
  max-height: 400px;
}
.form-group, .btn-primary{
  padding-left: 20px;
  padding-right: 20px;
}

#outputDB{
  margin-left: 5%;
  width: 90%;
  border-color: red;
}

#dropmenu{
  float: none;
  position: inherit;
}

.dropdown, .btn {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-default{
  margin-left: 0;
}
