/* @font-face {
  font-family: 'apple';
  src: url('../SF-Compact/SFCompactDisplay-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'applebold';
  src: url('../SF-Compact/SFCompactDisplay-Bold.otf');
  font-weight: normal;
  font-style: normal;
} */


html {
  height: 100vh;
  /* set viewport constraint */
  /* min-height: 100%; */
  /* enforce height */
}



.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  z-index: 1001;
  /* anything higher than z-index: 1000 of .loader-section */
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* above is for loader   */
 /* MOBILE - iPhone, iPad */
/* __________________________________________________ */

.dropdown {
  color: blue;
}
p{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: apple;
}

h1 {
  text-align: center;
  margin-top: 0px;
  font-family: applebold;
}

h3 {
  color: silver;
  padding-left: 100px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  top: 220px;
  left: 140px;
}

.nav {
  padding-left: 50px;
}

.container1 {
  width: 100px;
  float: left;
}


.bg-img-1 {
  background: url("../static/media/yosemite-mobile.jpg");
  height: 100vh;
  width: 100vw;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}
.bcg-img-25 {
  background: url("../static/media/redmountain.jpg");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#myVideo{
  display: none;
}
#mobilevid{
  width: 100%;
}

@media only screen and (min-width: 800px) {

  .parallax {
    background-attachment: scroll;
  }
  .bg-img-1 {
    background: url("../static/media/Yosemite.jpg");
    min-height: 500px;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bcg-img-25 {
    background: url("../static/media/redmountain.jpg");
    min-height: 500px;
    min-width: 400px;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bcg-img-5 {
    position: relative;
    height: 550px;
  }

  .logo {
    max-width: 100px;
    max-height: 100px;
    position: relative;
    top: 220px;
    left: 630px;
  }
  #myVideo {
    display: inline;
    max-width: 100%;
    max-height: 100%;
  }
  #mobilevid{
    display: none;
  }
}

.navbar {
  margin-bottom: 0px;
}

/*bug iphone min device with was not 700 but the computer device width was.
this was causing the bug   */

#vidtop-content {
  position: relative;
  top: -40px;
  left: 5px;
  color: black;
  font-family: applebold;
}
#vidtop {
  color: white;
    font-family: apple;
}

.bcg-img-3, .bcg-img-5, .bcg-img-6 {
  min-height: 400px;
  background-color: rgb(186, 207, 239);
}
.bcg-img-5{
  background-color: rgb(255, 26, 26);
  height: 100%;
}

#funnyelon{
  width: 60%;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about {
  min-height: 400px;
  padding-top: 50px;
}
